# ignore python cache
__pycache__/

# ignore ALL random files
*.txt
*.mp3

# ignore the enviroment variables
.env

# Ignores the big assets to improve upload and download speed
assets/gameplay/*
!assets/gameplay/.gitkeep
assets/music/*
!assets/music/.gitkeep

# ignores program output
out/*
!out/.gitkeep

# ignores temporary files
temp/*
!out/.gitkeep